header {
  background: rgba(147,206,222,1);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(125,193,212,1) 35%, rgba(117,189,209,1) 47%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(147,206,222,1)), color-stop(35%, rgba(125,193,212,1)), color-stop(47%, rgba(117,189,209,1)), color-stop(76%, rgba(73,165,191,1)), color-stop(100%, rgba(73,165,191,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(125,193,212,1) 35%, rgba(117,189,209,1) 47%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(125,193,212,1) 35%, rgba(117,189,209,1) 47%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 100%);
  background: -ms-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(125,193,212,1) 35%, rgba(117,189,209,1) 47%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 100%);
  background: linear-gradient(to right, rgba(147,206,222,1) 0%, rgba(125,193,212,1) 35%, rgba(117,189,209,1) 47%, rgba(73,165,191,1) 76%, rgba(73,165,191,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf', GradientType=1 );  font-family: Helvetica;
  font-size: 20px;
  border-bottom: 1px solid gray;
  text-align: center;
  padding: 10px 0;
  &::first-letter {
    color: blue;
  }
}